[global]
error_log = syslog
daemonize = no

[forum]
listen = /run/php-fpm/forum.socket
listen.owner = php-forum
listen.group = http
listen.mode = 0660

pm = ondemand
pm.max_children = 2

php_admin_value[open_basedir] = /srv/http/forum
php_admin_value[opcache.memory_consumption] = 128
php_admin_value[opcache.interned_strings_buffer] = 8
php_admin_value[opcache.max_accelerated_files] = 200
php_admin_value[opcache.revalidate_freq] = 60
php_admin_value[opcache.fast_shutdown] = 1
